/* Tianao Xiong - CSCE 242 Assignment 9 */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 20px;
    background: white;
}

#road {
    position: relative;
    width: 100%;
    height: 180px;
    background: #3b3b3b;
    border-top: 40px solid #7ac943;
    border-bottom: 40px solid #7ac943;
    overflow: hidden;
}

/* White edge */
#road::before,
#road::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background: white;
}

#road::before {
    top: 0;
}

#road::after {
    bottom: 0;
}

/* Yellow line */
#middle-line {
    position: absolute;
    top: 48px;
    left: 0;
    width: 100%;
    height: 4px;

    background: repeating-linear-gradient(
        to right,
        #ffd83d 0,
        #ffd83d 28px,
        transparent 28px,
        transparent 52px
    );
}

/* place for car */
#cars {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* car*/
.car {
    position: absolute;
    width: 52px;
    height: 25px;
    border-radius: 6px 6px 5px 5px;
}

.car-top {
    position: absolute;
    width: 27px;
    height: 13px;
    left: 12px;
    top: -8px;
    border-radius: 7px 7px 2px 2px;
    background: #9edcf5;
}

.wheel {
    position: absolute;
    width: 10px;
    height: 10px;
    bottom: -5px;
    background: #666;
    border-radius: 50%;
}

.wheel-left {
    left: 7px;
}

.wheel-right {
    right: 7px;
}